@model KabogluTeknik.Entities.General
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">@Model.WebsiteName</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end"
             id="navbarNav">
            <ul class="navbar-nav">
                @if (Model.IsShowAbout)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#hakkimda">Hakkımda</a>
                    </li>
                }
               
                <li class="nav-item">
                    <a class="nav-link" href="#urunler">Ürünler</a>
                </li>

                @if (Model.IsShowProject)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#projeler">Projeler</a>
                    </li>
                }
                @if (Model.IsShowContact)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#iletisim">İletişim</a>
                    </li>
                }
                
            </ul>
        </div>
    </div>
</nav>