<section class="content-header">
    <h1>h1</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> 1</a></li>
        <li class="active"><i class="fa fa-envelope-o"></i> 2</li>
        <li class="active"><i class="fa fa-bars"></i> 3</li>
    </ol>
</section>